adf/pipeline/MultipleTabeCopy_Merge.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"データ ファクトリ名"},"LS_ADF_Log_Blob":{"type":"string"},"LS_SQL_Azure_Product":{"type":"string"},"LS_ODBC_Azure":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/MultipleTabeCopy_Merge')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"GetTableNameListFromBlob","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.0:10:00","retry":2,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"GET","headers":{"x-ms-version":"2017-11-09","x-ms-blob-type":"BlockBlob"},"url":"https://saascore.blob.core.windows.net/shir/target_table_list.txt","authentication":{"type":"MSI","resource":"https://storage.azure.com/"}}},{"name":"LoopTables","type":"ForEach","dependsOn":[{"activity":"GetTableNameListFromBlob","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@json(activity('GetTableNameListFromBlob').output.Response)","type":"Expression"},"activities":[{"name":"CheckCanIncrementedCopy","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@bool(item().can_diff)","type":"Expression"},"ifFalseActivities":[{"name":"CopyAll","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"00:10:00","isolationLevel":"ReadCommitted","partitionOption":"None"},"sink":{"type":"OdbcSink","writeBatchSize":0,"preCopyScript":{"value":"@concat('TRUNCATE TABLE ', item().name, ';')","type":"Expression"}},"enableStaging":false,"parallelCopies":32,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":true},"logLocationSettings":{"linkedServiceName":{"referenceName":"[parameters('LS_ADF_Log_Blob')]","type":"LinkedServiceReference"},"path":"shir/copyactivity-logs/SQLDatabase2TiDB"}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_Sql_Azure","type":"DatasetReference","parameters":{"TableName":{"value":"@item().name","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ODBC_Azure","type":"DatasetReference","parameters":{"TableName":{"value":"@item().name","type":"Expression"}}}]}],"ifTrueActivities":[{"name":"CopyIncremented","type":"Copy","dependsOn":[],"policy":{"timeout":"0.2:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":{"value":"@concat('SELECT * FROM ', item().name, ' WHERE ', item().create , ' >= CONVERT(DATE, DATEADD(day, -1,  DATEADD(hour, 9, GETUTCDATE()))) OR ', item().update, ' >= CONVERT(DATE, DATEADD(day, -1,  DATEADD(hour, 9, GETUTCDATE()))) ORDER BY ', item().create)","type":"Expression"},"queryTimeout":"00:10:00","isolationLevel":"ReadCommitted","partitionOption":"None"},"sink":{"type":"OdbcSink","writeBatchSize":0},"enableStaging":false,"parallelCopies":20,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_Sql_Azure","type":"DatasetReference","parameters":{"TableName":{"value":"@item().name","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ODBC_Azure","type":"DatasetReference","parameters":{"TableName":{"value":"@item().name","type":"Expression"}}}]},{"name":"TruncateCopy","type":"Copy","dependsOn":[{"activity":"CopyIncremented","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.2:00:00","retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"00:10:00","isolationLevel":"ReadCommitted","partitionOption":"None"},"sink":{"type":"OdbcSink","writeBatchSize":0,"preCopyScript":{"value":"@concat('TRUNCATE TABLE ', item().name)","type":"Expression"}},"enableStaging":false,"parallelCopies":32,"logSettings":{"enableCopyActivityLog":true,"copyActivityLogSettings":{"logLevel":"Warning","enableReliableLogging":true},"logLocationSettings":{"linkedServiceName":{"referenceName":"[parameters('LS_ADF_Log_Blob')]","type":"LinkedServiceReference"},"path":"shir/copyactivity-logs/SQLDatabase2TiDB"}},"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_Sql_Azure","type":"DatasetReference","parameters":{"TableName":{"value":"@item().name","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ODBC_Azure","type":"DatasetReference","parameters":{"TableName":{"value":"@item().name","type":"Expression"}}}]}]}}]}},{"name":"DealLocateVM","type":"WebActivity","dependsOn":[{"activity":"LoopTables","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.0:10:00","retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"POST","headers":{},"url":{"value":"@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/deallocate?api-version=2023-09-01')","type":"Expression"},"body":{},"authentication":{"type":"MSI","resource":"https://management.azure.com/"}}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"SubscriptionId":{"type":"string","defaultValue":"a849fbfa-c9d9-4fe3-b47f-60a4fa01253a"},"ResourceGroupName":{"type":"string","defaultValue":"saas-core"},"VMName":{"type":"string","defaultValue":"server-container"}},"annotations":[],"lastPublishTime":"2024-01-24T06:07:55Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_Sql_Azure')]","[concat(variables('factoryId'), '/datasets/DS_ODBC_Azure')]"]},{"name":"[concat(parameters('factoryName'), '/DS_Sql_Azure')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SQL_Azure_Product')]","type":"LinkedServiceReference"},"parameters":{"TableName":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":"dbo","table":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_ODBC_Azure')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ODBC_Azure')]","type":"LinkedServiceReference"},"parameters":{"TableName":{"type":"string"}},"annotations":[],"type":"OdbcTable","schema":[],"typeProperties":{"tableName":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]}]}