adf/pipeline/StartVM.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"データ ファクトリ名"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/StartVM')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"CheckVMStatus","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.0:10:00","retry":0,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"GET","headers":{},"url":{"value":"@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/instanceView?api-version=2023-09-01')","type":"Expression"},"authentication":{"type":"MSI","resource":"https://management.azure.com/"}}},{"name":"statusCheck","type":"IfCondition","dependsOn":[{"activity":"CheckVMStatus","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@not(equals(activity('CheckVMStatus').output.statuses[1].displayStatus, 'VM running'))","type":"Expression"},"ifTrueActivities":[{"name":"StartVM","type":"WebActivity","dependsOn":[],"policy":{"timeout":"0.0:10:00","retry":3,"retryIntervalInSeconds":60,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"method":"POST","headers":{},"url":{"value":"@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/start?api-version=2023-09-01')","type":"Expression"},"body":{},"authentication":{"type":"MSI","resource":"https://management.azure.com/"}}}]}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"SubscriptionId":{"type":"string","defaultValue":"a849fbfa-c9d9-4fe3-b47f-60a4fa01253a"},"ResourceGroupName":{"type":"string","defaultValue":"saas-core"},"VMName":{"type":"string","defaultValue":"server-container"}},"variables":{"pre_offset":{"type":"Integer"}},"annotations":[],"lastPublishTime":"2024-01-24T04:14:14Z"},"dependsOn":[]}]}